includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - phpstan-baseline.neon

parameters:
  level: 9
  paths:
    - bin
    - docker
    - public
    - src
    - templates
    - tests
  treatPhpDocTypesAsCertain: false
