<?xml version="1.0" encoding="UTF-8"?>

<!-- https://docs.phpunit.de/en/12.1/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         columns="max"
         executionOrder="depends,defects">

    <testsuites>
        <testsuite name="all-tests">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="unit-tests">
            <directory>tests/unit</directory>
            <exclude>tests/integration</exclude>
        </testsuite>
        <testsuite name="integration-tests">
            <directory>tests/integration</directory>
            <exclude>tests/unit</exclude>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <logging>
        <junit outputFile="target/logs/junit.xml"/>
        <teamcity outputFile="target/logs/teamcity.txt"/>
    </logging>
</phpunit>
